body {
    margin:0;
}

#container {
    width: 100%;
}

#headerBG {
    width: 100%;
    background-color: #000;
    height: 85px;
}

#interior {    
    width: 1000px;
    margin: 0 auto;
}

#logo {
    width: 85px;
    height: 85px;
    background-image:url('images/logo.svg');

}